{% extends 'core/base.html' %}

{% block title %}Iniciar sesión | Ducky Arena{% endblock %}

{% block main %}
<section class="auth-shell">
    <div class="panel">
        <h1>Iniciar sesión</h1>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Iniciar sesión
            </button>
        </form>

        <div class="auth-links">
            <a href="{% url 'accounts:password_reset' %}" class="secondary-link">
                ¿Olvidaste tu contraseña?
            </a>
        </div>

        <p>
            ¿No tienes una cuenta?

            <a href="{% url 'accounts:register' %}">
                Crear cuenta
            </a>
        </p>
    </div>
</section>
{% endblock %}