# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Database
db.sqlite3

# Django generated static
staticfiles/

# User media
media/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
